{% include 'core/navbar.html' %}

<html class="">
<head>

    <style type="text/css">  @font-face {
        font-family: 'PT Sans';
        src: local('PT Sans Italic'), local('PTSans-Italic'),
        url(https://dr.habracdn.net/career/assets/pt_sans/subset-PTSans-Italic-adfc7a0cb632514a397e89465a827c83.woff2) format('woff2'),
        url(https://dr.habracdn.net/career/assets/pt_sans/subset-PTSans-Italic-1028060010935075996c861d71c15fe3.woff) format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
        font-display: fallback;
    }

    @font-face {
        font-family: 'PT Sans';
        src: local('PT Sans'), local('PTSans-Regular'),
        url(https://dr.habracdn.net/career/assets/pt_sans/subset-PTSans-Regular-557e592a42e48c7c6fcfbae527c9cedb.woff2) format('woff2'),
        url(https://dr.habracdn.net/career/assets/pt_sans/subset-PTSans-Regular-ada4394d86c5f1618d30b8ab149fa2c0.woff) format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        font-display: fallback;
    }
    </style>
    <link rel="stylesheet" media="screen"
          href="https://dr.habracdn.net/career/assets/application-98b1fbd1c5ba0a0aa098bdcb31cd975d.css">


</head>

<body class="conversations_show_page">
<div class="content">

    <div class="sidebar left">
        <div class="section discussions_list">
            <div class="head">
                <a href="{% url 'chat_list' %}">Все переписки</a> {{ interlocutors|length }}
                <a href="{% url 'group_chat_create' %}">Создать беседу <img
                        src="https://image.flaticon.com/icons/png/512/64/64580.png"
                        alt="No content.icon.mail" style="height: 10px;>
                </a>

            <div class=" body">


                    <div class="discussions" style="height: 596px;">

                        {% for group_chat in group_chats %}
                            <a id="conversation" class="discussion"
                               href="{% url 'group_chat' group_chat.id %}">
                                <div class="avatar"><img src="{{ group_chat.image.url }}"></div>
                                <div class="info">
                                    <div class="username">
                                        <div class="name">{{ group_chat }}</div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}



                        {% for interlocutor in interlocutors %}
                            <a id="conversation" class="discussion"
                               href="{% url 'chat_by_user' interlocutor.username %}">
                                <div class="avatar"><img src="{{ interlocutor.profile.image.url }}"></div>
                                <div class="info">
                                    <div class="username">
                                        <div class="name">{{ interlocutor }}</div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
    {% if chat_username is none and 'group' not in request.path %}
        <div class="main right">
            <div class="section">
                <div class="head">
                    <div class="title">Переписка с пользователем</div>
                </div>
                <div class="conversation_page main_page">
                    <div class="messages" style="height: 586px;">
                        <div class="empty">
                            <div class="no_content">
                                <div class="icon"><img
                                        src="https://cdn.clipart.email/68a9bee0bd28981e95951561d3d9b299_image-mailbox-furniture-iconpng-club-penguin-wiki-fandom-_649-1038.png"
                                        alt="No content.icon.mail" style="height: 155px;></div>
                                <div class=" title">Выберите собеседника
                                </div>
                                <div class="text">Чтобы начать переписку, выберите собеседника слева в списке или
                                    воспользуйтесь поиском.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% elif chat_username is not none and 'group' not in request.path %}
                <div class="main right">
                <div class="section">
                <div class="head">
                    <div class="title nowrap">

                        <a style="display: inline-block;"
                           href="{% url 'profile' chat_user.id %}">{{ chat_user.username }}</a>

                        <div class="subtitle__inline">{{ chat_user.first_name }} {{ chat_user.last_name }}
                            Last seen: {{ chat_user.last_login }}</div>

                    </div>
                </div>
                <div class="subject_wrapper"></div>
                <div class="conversation_page">
                <div class="messages" style="height: 494.5px;">
                    {% for msg_item in new_all_msgs %}
                        <div class="message">
                            <div class="avatar"><a href="{% url 'profile' msg_item.sender.id %}">
                                <img alt="{{ msg_item.sender.username }}" src="{{ msg_item.sender.profile.image.url }}"></a>
                            </div>

                            <div class="info">
                                <div class="date"
                                     title="{{ msg_item.date_sent }}"> {{ msg_item.date_sent|date:"H:i jS M Y" }}</div>
                                <div class="username"><a
                                        href="{% url 'profile' msg_item.sender.id %}">{{ msg_item.sender.username }}</a>
                                </div>
                                <div class="text"><p>{{ msg_item.msg_text }}</p></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="form_place">
                    <div class="new_message_form">
                        <form class="new_message" action="{% url 'chat_by_user' chat_username %}" method="post">

                            {% csrf_token %}
                            <div class="textarea">
                                {{ msg_form }}
                            </div>

                            <button type="submit" class="button btn-blue">send</button>
                        </form>
                    </div>
                </div>


    {% else %}
        <div class="main right">
        <div class="section">
        <div class="head">
            <div class="title nowrap">

                <a style="display: inline-block;"
                   href="#">{{ group_chat_instance.chat_title }}</a>

{#                <div class="subtitle__inline">{{ chat_user.first_name }} {{ chat_user.last_name }}</div>#}

            </div>
        </div>
        <div class="subject_wrapper"></div>
        <div class="conversation_page">
        <div class="messages" style="height: 494.5px;">
            {% for msg_item in group_chat_msgs %}
                <div class="message">
                    <div class="avatar"><a href="{% url 'profile' msg_item.sender.id %}">
                        <img alt="{{ msg_item.sender.username }}" src="{{ msg_item.sender.profile.image.url }}"></a>
                    </div>

                    <div class="info">
                        <div class="date"
                             title="{{ msg_item.date_sent }}"> {{ msg_item.date_sent|date:"H:i jS M Y" }}</div>
                        <div class="username"><a
                                href="{% url 'profile' msg_item.sender.id %}">{{ msg_item.sender.username }}</a>
                        </div>
                        <div class="text"><p>{{ msg_item.msg_text }}</p></div>
                    </div>
                </div>
            {% endfor %}
        </div>



        <div class="form_place">
            <div class="new_message_form">
                <form class="new_message" action="{% url 'group_chat' group_chat_id %}" method="post">

                    {% csrf_token %}
                    <div class="textarea">
                        {{ msg_form }}
                    </div>

                    <button type="submit" class="button btn-blue">send</button>
                </form>
            </div>
        </div>

    {% endif %}

    </div>
    </div>
    </div>
</div>

