{% extends 'core/wrapper.html' %}

{% block content %}

    Hobby page
    <ul>
        <form method="post">
            {% csrf_token %}
            <p>{{ hobbies_form.hobby }}</p>
            <button type="submit">submit</button>
        </form>
    </ul>

    {% if profiles %}
        <h3>Full match results:</h3>
        {% for profile in profiles %}
            {% if user.profile != profile %}
                <div><a href="{% url 'profile' profile.id %}">{{ profile }}</a></div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if profiles2 %}
        <h3>Any match results:</h3>
        {% for profile2 in profiles2 %}
            {% if user.profile != profile2 %}
                <div><a href="{% url 'profile' profile2.id %}">{{ profile2 }}</a></div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock content %}